<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/normalize.css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/uikit/dist/css/uikit.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/master.css') }}">
    <title>Title</title>
    {% endblock %}
</head>
<body>

    {% include "nav.html" %}

    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='node_modules/uikit/dist/js/uikit.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/uikit/dist/js/uikit-icons.min.js') }}"></script>


</body>
</html>