<!-- Modal New TODO-->

<div id="new-todo" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Nueva Tarea</h2>
        <form>
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <label>Titulo</label>
                    <input class="uk-input" type="title">
                </div>

                <div class="uk-margin">
                    <label>Nivel de urgencia</label>
                    <select class="uk-select">
                        <option>Normal</option>
                        <option>Poco urgente</option>
                        <option>Urgente</option>
                    </select>
                </div>

                <div class="uk-margin">
                    <label>Mensaje</label>
                    <textarea class="uk-textarea" rows="5"></textarea>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<!-- Modal Edit TODO -->

<div id="edit-todo" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Editar Tarea</h2>
        <form>
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <label>Titulo</label>
                    <input class="uk-input" type="title">
                </div>

                <div class="uk-margin">
                    <label>Nivel de urgencia</label>
                    <select class="uk-select">
                        <option>Normal</option>
                        <option>Poco urgente</option>
                        <option>Urgente</option>
                    </select>
                </div>

                <div class="uk-margin">
                    <label>Mensaje</label>
                    <textarea class="uk-textarea" rows="5"></textarea>
                </div>
            </fieldset>
        </form>
    </div>
</div>